@font-face {
	font-family: 'Cooper Hewitt';
	src: url('/src/font/CooperHewitt-Bold.woff2') format('woff2'),
		url('/src/font/CooperHewitt-Bold.woff') format('woff');
	font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

/********** Template CSS **********/
:root {
	/* --primary: #06bbcc; */
	--primary: #765dc3;
	--secondary: #7fa923;
	--light: #c3d889;
	--light-secondary: #e9a07d;
	--ultra-light: #fbd5c2;
	--white: #fff;
	--dark: #181d38;
}

body {
	font-size: 16px;
}

.fw-medium {
	font-weight: 600 !important;
}

.fw-semi-bold {
	font-weight: 700 !important;
}

.back-to-top {
	background-color: #7fa923 !important;
	border: none;
	position: fixed;
	display: none;
	right: 45px;
	bottom: 45px;
	z-index: 99;
}

.back-to-top:hover {
	border: none;
	outline: none;
}

/*** Spinner ***/
#spinner {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
	z-index: 99999;
}

#spinner.show {
	transition: opacity 0.5s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

/*** Button ***/
.btn {
	font-weight: 600;
	transition: 0.5s;
}

.btn-joinNow {
	background-color: var(--secondary) !important;
	color: var(--dark);
	font-family: 'Cooper Hewitt' !important;
	font-size: 20px;
	display: flex !important;
	align-items: center;
	border-radius: 50px;
	padding: 5px 10px;
}

.btn-joinNow:hover {
	transition: 0.5s;
	color: #765dc3;
}

.btn.btn-primary,
.btn.btn-secondary {
	color: #ffffff;
}

.btn-square {
	width: 38px;
	height: 38px;
}

.btn-sm-square {
	width: 32px;
	height: 32px;
}

.btn-lg-square {
	width: 48px;
	height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
	border-radius: 0px;
}

/*** Navbar ***/
.navbar {
	font-family: 'Cooper Hewitt' !important;
	font-weight: bold !important;
	box-shadow: none !important;
}

.navbar #navbarCollapse {
	position: relative;
}

.navbar .dropdown-toggle::after {
	border: none;
	content: '\f107';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	vertical-align: middle;
	margin-left: 8px;
}

.navbar .brand-img {
	width: 15em;
	height: 80px;
	position: relative;
	top: -10px;
}

.navbar-light .navbar-nav .nav-link {
	margin-right: 30px;
	padding: 25px 0;
	color: #ffffff;
	font-size: 1em;
	text-transform: uppercase;
	outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
	color: var(--primary);
}

/* Responsive only for navabar */

@media (max-width: 1450px) {
	body {
		font-size: 20px;
	}
}

@media (max-width: 1200px) {
	body {
		font-size: 17px;
	}
}

/*Large devides (desktop, 992px and up)*/
@media (max-width: 992px) {
	body {
		font-size: 16px;
	}

	.navbar .brand-img {
		width: 6.5em;
	}

	.navbar-collapse {
		margin-top: 1em;
	}
}

/*Medium devides (tablets, 768px and up)*/
@media (max-width: 768px) {
	body {
		font-size: 15px;
	}
}

/*small devides (landscape phone, 576px and up)*/
@media (max-width: 576px) {
	body {
		font-size: 10px;
	}
}

@media (max-width: 991.98px) {
	.navbar-light .navbar-nav .nav-link {
		margin-right: 0;
		padding: 10px 0;
	}

	.navbar-light .navbar-nav {
		border-top: 1px solid #eeeeee;
	}
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
	height: 75px;
}

.navbar-light .navbar-nav .nav-link {
	color: var(--dark);
	font-weight: 500;
}

.navbar-light.sticky-top {
	top: -100px;
	transition: 0.5s;
	background-color: white !important;
}

@media (min-width: 992px) {
	.navbar .nav-item .dropdown-menu {
		display: block;
		margin-top: 0;
		opacity: 0;
		visibility: hidden;
		transition: 0.5s;
	}

	.navbar .dropdown-menu.fade-down {
		top: 100%;
		transform: rotateX(-75deg);
		transform-origin: 0% 0%;
	}

	.navbar .nav-item:hover .dropdown-menu {
		top: 100%;
		transform: rotateX(0deg);
		visibility: visible;
		transition: 0.5s;
		opacity: 1;
	}
}

/*** Header carousel ***/
@media (max-width: 768px) {
	.header-carousel .owl-carousel-item {
		position: relative;
		min-height: 500px;
	}

	.header-carousel .owl-carousel-item img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.header-carousel-title {
	color: var(--primary) !important;
}

.SpecialBox {
	text-shadow: 1px -1px 6px rgba(0, 0, 0, 0.71);
	font-weight: 700 !important;
}


/* #header-img-carousel { */
/* object-fit: cover; */
/* width: 50% !important; */
/* height: 20% !important; */
/* } */

#header-btn-carousel {
	font-size: 25px;
	border-radius: 25px !important;
	background-color: var(--secondary) !important;
	color: var(--dark);
	font-family: 'Cooper Hewitt' !important;
	border-style: none;
}

#header-btn-carousel:hover {
	background-color: var(--primary) !important;
	color: var(--white);
}

#carousel-item-2 {
	color: var(--secondary);
	font-family: 'Sniglet', cursive !important;
	font-weight: 400 !important;
	font-size: 35px !important;
}

@media (min-width: 1440px) {
	#carousel-item-2 {
		position: relative !important;
		top: -100px !important;
		font-size: 50px !important;
	}
}

.header-carousel .owl-nav {
	position: absolute;
	top: 50%;
	right: 8%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
	margin: 7px 0;
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	background: transparent;
	border: 1px solid #ffffff;
	font-size: 22px;
	transition: 0.5s;
}

.img-header-1 {
	object-fit: fill !important;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
	background: var(--primary);
	border-color: var(--primary);
}

.gradient-header-1 {
	background: rgb(255, 255, 255);
	background: linear-gradient(90deg, rgba(255, 255, 255, 1) 45%, rgba(255, 255, 255, 0) 83%, rgba(255, 255, 255, 0) 99%);
}

.gradient-header-2 {
	background: rgb(255, 255, 255);
	background: linear-gradient(90deg, rgba(255, 255, 255, 1) 52%, rgba(221, 135, 224, 0) 64%, rgba(236, 182, 225, 0.2497373949579832) 79%);
}

.page-header {
	background: linear-gradient(rgba(24, 29, 56, 0.7), rgba(24, 29, 56, 0.7)),
		url(../img/carousel-1.jpg) !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.page-header-inner {
	background: rgba(15, 23, 43, 0.7);
}

.breadcrumb-item+.breadcrumb-item::before {
	color: var(--light);
}

/*** Section Title ***/
.section-title {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
}

.section-title::before {
	position: absolute;
	content: '';
	width: calc(100% + 80px);
	height: 2px;
	top: 4px;
	left: -40px;
	background: var(--primary);
	z-index: -1;
}

.section-title::after {
	position: absolute;
	content: '';
	width: calc(100% + 120px);
	height: 2px;
	bottom: 5px;
	left: -60px;
	background: var(--primary);
	z-index: -1;
}

.section-title.text-start::before {
	width: calc(100% + 40px);
	left: 0;
}

.section-title.text-start::after {
	width: calc(100% + 60px);
	left: 0;
}

/*** Service ***/
.service-item {
	background: var(--light);
	transition: 0.5s;
}

.service-item:hover {
	margin-top: -10px;
	background: var(--primary);
}

.service-item * {
	transition: 0.5s;
}

.service-item:hover * {
	color: var(--light) !important;
}

/*** Categories & Courses ***/
.category img,
.course-item img {
	transition: 0.5s;
}

.category a:hover img,
.course-item:hover img {
	transform: scale(1.1);
}

.course-item {
	cursor: pointer;
}

.course-info {
	color: var(--dark);
}

.btn-readMore {
	background-color: #765dc3 !important;
	color: var(--white);
}

.btn-readMore:hover {
	background-color: #8677b3 !important;
	color: var(--white);
}

/*** Team ***/
.team-item img {
	transition: 0.5s;
}

.team-item:hover img {
	transform: scale(1.1);
}

/*** Testimonial ***/
.testimonial-carousel::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background: linear-gradient(to right,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 255, 0) 100%);
	z-index: 1;
}

.testimonial-carousel::after {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	height: 100%;
	width: 0;
	background: linear-gradient(to left,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 255, 0) 100%);
	z-index: 1;
}

@media (min-width: 768px) {

	.testimonial-carousel::before,
	.testimonial-carousel::after {
		width: 200px;
	}
}

@media (min-width: 992px) {

	.testimonial-carousel::before,
	.testimonial-carousel::after {
		width: 300px;
	}
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
	transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
	background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
	color: #ffffff !important;
}

.testimonial-carousel .owl-dots {
	margin-top: 24px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.testimonial-carousel .owl-dot {
	position: relative;
	display: inline-block;
	margin: 0 5px;
	width: 15px;
	height: 15px;
	border: 1px solid #cccccc;
	transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
	background: var(--primary);
	border-color: var(--primary);
}

/*** Footer ***/

.footer {
	background-color: #1d0f48 !important;
}

.footer .btn.btn-social {
	margin-right: 5px;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--light);
	font-weight: normal;
	border: 1px solid #ffffff;
	border-radius: 35px;
	transition: 0.3s;
}

.footer .btn.btn-social:hover {
	color: var(--primary);
}

.footer .btn.btn-link {
	display: block;
	margin-bottom: 5px;
	padding: 0;
	text-align: left;
	color: #ffffff;
	font-size: 15px;
	font-weight: normal;
	text-transform: capitalize;
	transition: 0.3s;
}

.footer .btn.btn-link::before {
	position: relative;
	content: '\f105';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	margin-right: 10px;
}

.footer .btn.btn-link:hover {
	letter-spacing: 1px;
	box-shadow: none;
}

.footer .copyright {
	padding: 25px 0;
	font-size: 15px;
	border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
	color: var(--light);
}

.footer .footer-menu a {
	margin-right: 15px;
	padding-right: 15px;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: none;
}